/bin
testdata/Test.dep
testdata/BuildSimpleTest/testBuildClean
testdata/BuildSimpleTest/testBuildLeafInconsistent
testdata/BuildSimpleTest/testBuildLeafInconsistentNewDep
testdata/BuildSimpleTest/testBuildRootInconsistent
