/bin
testdata/BuildSimpleTest/buildClean
testdata/BuildSimpleTest/buildRootInconsistent
testdata/Test.dep
testdata/BuildSimpleTest/buildLeafInconsistentNewDep
testdata/BuildSimpleTest/buildLeafInconsistent
